
body{
    background-color: #F6EEE0;
}
/*  
===============
    Section Slides
===============
*/
.slider-bg{
  background-image: linear-gradient(180deg, #f5b375, #df8282);

}

.product-slider {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}
.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 600px;

}
  
  
.slide {
flex: 0 0 auto;
width: 100%;
text-align: center;
scroll-snap-align: center;
position: relative;
display: flex;
align-items: center;
justify-content: space-evenly;
}

.product-image {
width: 40%;
height: 70%;
}

.product-image img {

width: 100%;
height: 80%;
object-fit: cover;
}

.product-details {
width: 40%;
padding: 10px;
}

.product-details h1 {
font-size: 54px;
}

.original-price {
text-decoration: line-through;
color: #999;
}

.discount-price {
font-size: 30px;
color: #ffffff;
font-weight: bold;
margin-top: 20px;
}

.product-discount {
font-size: 46px;
font-weight: bold;
text-transform: uppercase;
color: #ffffff;
}

.product-image-division {
width: 50%;
height: 100%;
}

.product-image-division img{
width: 100%;
height: 100%; /* ou height: 150%; */
object-fit: cover;
}




/* 
===============
Produtos Em destaque
===============
*/
.dest{
text-align: center;
margin-bottom: -100px;
}
.CategoriasEmDestaque>h2{
text-align: center;
}
.CategoriasEmDestaque{
display: flex;
justify-items: center;
align-items: center;
max-width: 80%;
margin: 0 auto;
padding: 50px 0;
}

.destaque img{
width: 100%;
height: 100%;
object-fit: cover;
margin-bottom: -50px;
}

.destaque img:hover{
width: 100%;
height: 100%;
object-fit: cover;
}


.destaque > a{
text-decoration: none;
}

.destaque > a > p{
text-align: center;
font-size: larger;
color: #333;
}