body{
    font-family: 'LATO', sans-serif;
    background: #F6EEE0
    }

#perfil{
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user{
  border-radius: 20px;
  background: #ffffff;
  padding:  50px 40px ;
  box-shadow: 10px 5px 5px rgb(65, 65, 65);
}
.user h1 {
    font-size: 24px;
    color: #000000;
}

.user img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.user p {
    font-size: 15px;
    color: #000000;
}

.mudarButton {
  justify-content: center;
  align-items: center;
  color:white;
  background: rgb(243, 160, 44);
  padding: 10px;
  border:0;
  border-radius: 20px;
  cursor: pointer;
}

.mudarButton:hover{
  background: rgb(196, 129, 37);
}

.gerenciarButton{
  justify-content: center;
  align-items: center;
  color:white;
  background: rgb(243, 160, 44);
  padding: 10px;
  border:0;
  border-radius: 20px;
  cursor: pointer;
}

.gerenciarButton:hover{
  background: rgb(196, 129, 37);
}

.voltar{
  justify-content: center;
  align-items: center;
  background: rgb(243, 160, 44);
  padding: 10px 25px;
  border:0;
  border-radius: 20px;
}

.voltar a{
  color:white;
}